.navbar {
    background: linear-gradient(to right, #2c3e50, #34495e); /* Тъмен градиент */
        padding: 10px 20px;
        color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.navbar .navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.navbar .navbar-brand:hover {
    color: #ecf0f1;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    color: #ecf0f1;
}

/* Responsive toggle button */
.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
}

/* Dropdown menu styles */
.dropdown-menu {
    background: rgba(255,255,255,0.9);
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-item {
    color: #34495e;
}

.dropdown-item:hover {
    background-color: #3498db;
    color: white;
}

/* Responsive styles */
@media (max-width: 992px) {
    .navbar-collapse {
        background: linear-gradient(to right, #3498db, #9b59b6);
    }

    .navbar-nav {
        text-align: center;
    }
}