<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/404_page.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}" />


</style>
</head>
<header th:replace="~{fragments/navbar}">

</header>
<body>


<div class="ghost">
  <span>404 Not Found</span>
  <img th:src="@{/images/404_error_image.png}" alt="Description of the image">
</div>

</body>
</html>