<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CryptoTreasures</title>
</head>
<head
    th:fragment="head"
>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="">

    <title> CryptoTreasures</title>


    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />



</head>
</html>